:root {
  --main-font-size: 20px;
  --text-font-size: 15px;
  --page-side-margin: 50px;
  --header-max-width: 450px;
  --explorer-side-padding: 4px;
  --explorer-grid-item-size: 100px;
}

:global(#app) {
  height: 100%;
}

@media screen and (min-width: 768px) {
  :root {
    --page-side-margin: 150px;
    --main-font-size: 25px;
    --text-font-size: 20px;
    --explorer-side-padding: 40px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --page-side-margin: 250px;
    --explorer-grid-item-size: 200px;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Inter', sans-serif;
  font-size: var(--main-font-size);
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

img {
  object-fit: cover;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: black;
}

li > a {
  color: white;
  text-decoration: none;
}

nav,
ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  list-style-type: '/';
}

@media screen and (min-width: 768px) {
  nav,
  ul {
    flex-flow: row;
    flex-wrap: wrap;
  }
}

nav,
li {
  padding-left: 30px;
  margin-right: 30px;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.pageHeader {
  font-weight: bold;
  color: white;
  display: flex;
}

.pageContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex: 1;
  overflow: hidden;
  margin-bottom: 20px;
}

.scrollContainer {
  overflow: scroll;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.contentHeader {
  padding-left: 30px;
  margin-right: var(--page-side-margin);
  max-width: var(--header-max-width);
}

.contentContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0px var(--page-side-margin);
  flex: 1;
  height: 100%;
}

@media screen and (min-width: 1200x) {
  .content {
    margin: 0px 80px;
  }
}

.content {
  height: 100%;
  font-size: var(--text-font-size);
  margin: 0px 0px;
}

.navigationBar {
  flex: 1;
  background-color: #65ed5a;
  padding: 18px 0px;
}

.navigationBarTitle {
  list-style: none;
}

.selectedNav {
  color: #761df0;
}

.explorerNavBar {
  margin-top: 40px;
  margin-bottom: 50px;
}

.explorerContainer {
  display: flex;
  height: 100%;
  flex-flow: row;
  font-size: var(--main-font-size);
  overflow: hidden;
}

.explorerImage {
  width: 100%;
  display: block;
  object-fit: cover;
}

main {
  order: 2;
  flex: 2;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0px var(--explorer-side-padding);
}

.gridTitle {
  text-transform: lowercase;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--explorer-grid-item-size), var(--explorer-grid-item-size)));
  grid-gap: 15px;
  margin-bottom: 40px;
}

.gridItem {
  font-size: 15px;
  text-transform: lowercase;
}

.explorerMenu {
  padding: 0px var(--explorer-side-padding);
  order: 1;
  display: flex;
  flex-flow: column;
}

.leftMenu {
  order: 1;
}

.rightMenu {
  order: 3;
}
.explorerMenuTitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.explorerMenuText {
  text-align: center;
  text-transform: lowercase;
  padding: 0px 4px;
  margin: 4px 0px;
  display: table;
  align-self: center;
  cursor: pointer;
}

.selected {
  background-color: #f8d7d7;
}

.sliderContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

@media screen and (min-width: 768px) {
  .sliderContainer {
    margin: 0px 150px;
    flex-wrap: nowrap;
  }
}

.sliderArrowContainer {
  margin-left: 20px;
  margin-right: 20px;
  flex-basis: 0;
}

.sliderArrow {
  display: block;
  object-fit: cover;
}

.sliderContent {
  font-size: var(--text-font-size);
  text-align: center;
  text-transform: uppercase;
  padding: 50px;
  flex-grow: 1;
  flex-basis: 0;
}

.select {
  appearance: none;
  border: 0;
  background: white;
  font-size: var(--text-font-size);
  text-decoration-line: underline;
  cursor: pointer;
}

.polycultureImg {
  width: 100%;
  max-width: 900px;
  margin: 0px 150px;
  padding: 0px 0px;
}

@media screen and (min-width: 768px) {
  .polycultureImg {
    padding: 0px 80px;
  }
}

.polycultureMenu {
  display: flex;
  flex-basis: 0;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .polycultureMenu {
    flex-flow: column;
  }
}

.polycultureMenuItem {
  text-decoration: underline;
  cursor: pointer;
  padding: 0px 4px;
}
