{{define "body"}}
<form class="container" id="editSpeciesForm">
  <h2>Edit Species</h2>
  <input type="text" name="common name" placeholder="common name" id="commonName" value="{{ .Species.CommonName }}"/>
  <input type="text" name="scientific name" placeholder="scientific name" id="scientificName" value="{{ .Species.ScientificName }}"/>
  <select id="minHardinessSelect" name="minHardiness">
    {{ range .HardinessList }}
      {{ if (eq .Value $.Species.MinHardiness) }}
        <option value={{.ID}} selected>{{.Value}}</option>
      {{ else }}
        <option value={{.ID}}>{{.Value}}</option>
      {{ end }}
    {{ end }}
  </select>
  <select id="maxHardinessSelect" name="maxHardiness">
    {{range .HardinessList}}
      {{ if (eq .Value $.Species.MaxHardiness) }}
        <option value={{.ID}} selected>{{.Value}}</option>
      {{ else }}
        <option value={{.ID}}>{{.Value}}</option>
      {{ end }}
    {{end}}
  </select>
  <button id="editButton" type="button">edit</button>
  <button id="deleteButton" type="button">delete</button>
</form>
<br/>
  {{ template "species" .SpeciesList }}
<br/>

<script>
document.getElementById("editButton").addEventListener("click", editSpecies);
document.getElementById("deleteButton").addEventListener("click", deleteSpecies);

function deleteSpecies(event) {
  event.preventDefault();

  let id = {{ .Species.ID }}; 
  fetch(`/api/species/delete/${id}`, {
    method: "DELETE",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json"
    },
    redirect: "follow",
    referrer: "no-referrer",
  })
    .then(response => location.assign("/species"));
}

function editSpecies(event) {
  event.preventDefault();
  let id = {{ .Species.ID }}; 
  let commonName = document.getElementById('commonName').value;
  let scientificName = document.getElementById('scientificName').value;
  minHardiness = parseInt(minHardinessSelect.value);
  maxHardiness = parseInt(maxHardinessSelect.value);

  fetch(`/api/species/edit/${id}`, {
    method: "POST",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json"
    },
    redirect: "follow",
    referrer: "no-referrer",
    body: JSON.stringify({id: id, common_name: commonName, scientific_name: scientificName,  min_hardiness: minHardiness, max_hardiness: maxHardiness})
  })
  .then(response => location.assign("/species"));
}
</script>
{{end}}
