
{{ define "species" }}
  <h1>Existing Species</h1>
  <table>
    <thead>
      <tr>
        <th colspan="1">ID</th>
        <th colspan="1">Common Name</th>
        <th colspan="1">Scientific Name</th>
        <th colspan="1">MinHardiness</th>
        <th colspan="1">MaxHardiness</th>
        <th colspan="1">Edit</th>
        <th colspan="1">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{range .Species}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.CommonName}}</td>
        <td>{{.ScientificName}}</td>
        <td>{{.MinHardiness}}</td>
        <td>{{.MaxHardiness}}</td>
        <td><a href="/species/{{ .ID }}">Edit</a></td>
        <td><a href="/delete?id={{ .ID }}">Delete</a><td>
      </tr>
      {{end}}
    </tbody>
  </table>
{{ end }}
