{{ define "species" }}
<div class="container">
  <h2>Existing Species</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Common Name</th>
        <th>Scientific Name</th>
        <th>MinHardiness</th>
        <th>MaxHardiness</th>
      </tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
        <td><a href="/species/{{ .ID }}">{{.ID}}</a></td>
        <td>{{.CommonName}}</td>
        <td>{{.ScientificName}}</td>
        <td class="right-align">{{.MinHardiness}}</td>
        <td class="right-align">{{.MaxHardiness}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{ end }}
