{{define "body"}}
<form class="container" id="addMaterialsForm">
  <h2>Add Material</h2>
  <input type="text" name="name" id="materialName" placeholder="name" />
  <button>add</button>
</form>

{{ template "materials" .Materials }}

<script>
document.getElementById('addMaterialsForm').addEventListener('submit', addMaterial);

function addMaterial(event) {
  event.preventDefault();
  let name = document.getElementById('materialName').value;

  fetch("/api/materials/new", {
    method: "POST",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json"
    },
    redirect: "follow",
    referrer: "no-referrer",
    body: JSON.stringify({name: name})
  })
    .then(response => location.reload());
}
</script>
{{end}}
