{{ define "materials" }}
<div class="container">
  <h3>Existing Materials</h3>
  <table>
    <tr>
      <th>ID</th>
      <th class="right-align">Name</th>
    </tr>
    {{range .}}
    <tr>
      <td><a href="/materials/{{ .ID }}">{{.ID}}</a></td>
      <td class="right-align">{{.Name}}</td>
    </td>
    {{end}}
  </table>
</div>
{{ end }}
