{{define "body"}}
<form class="container" id="editAssociationForm">
  <h2>Edit Association</h2>
  <select id="speciesSelect" name="species">
    <option selected="selected" value={{.AssociationDetails.SpeciesId}}>{{.AssociationDetails.SpeciesName}}</option>
    {{range .Species}}
    <option value={{.ID}}>{{.CommonName}}</option>
    {{end}}
  </select>
  <select id="materialSelect" name="material">
    <option selected="selected" value={{.AssociationDetails.MaterialId}}>{{.AssociationDetails.MaterialName}}</option>
    {{range .Materials}}
    <option value={{.ID}}>{{.Name}}</option>
    {{end}}
  </select>
  <br/>
  <br/>
  <img src="{{ .AssociationDetails.ImageUrl }}" />
  <input type="file" name="image" />
  <br/>
  <br/>
  <input type="text" name="link" placeholder="link" id="link" value="{{ .AssociationDetails.Link }}"/>
  <br/>
  <br/>
  <button id="editButton" type="button">edit</button>
  <button id="deleteButton" type="button">delete</button>
</form>

{{template "associations" .Associations}}

<script>
document.getElementById("editButton").addEventListener("click", editAssociation);
document.getElementById("deleteButton").addEventListener("click", deleteAssociation);

function editAssociation(event) {
  event.preventDefault();
  form = document.getElementById('editAssociationForm')
  const formData = new FormData(form);

  let id = {{ .AssociationDetails.ID }}; 

  fetch(`/api/associations/edit/${id}`, {
    method: "POST",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    redirect: "follow",
    referrer: "no-referrer",
    body: formData
  })
    .then(response => location.assign("/"));
}
</script>
{{end}}
