{{ define "associations" }}
<div class="container">
 <h2>Existing Associations</h2>
 <table>
   <thead>
     <tr>
       <th>ID</th>
       <th>Species</th>
       <th>Material</th>
       <th>Image</th>
       <th class="right-align">Link</th>
     </tr>
   </thead>
   <tbody>
     {{range .}}
     <tr>
       <td><a href="/association/{{.ID}}">{{.ID}}</a></th>
       <td>{{.SpeciesName}}</td>
       <td>{{.MaterialName}}</td>
       <td><img class="thumbnail" src="{{.ImageUrl}}"/></td>
       <td class="right-align">{{.Link}}</td>
     </tr>
     {{end}}
   </tbody>
 </table>
</div>
{{ end }} 
