{{define "body"}}
<div class="container">
<form class="container" id="addAgroEcoSystemForm">
  <h2> Create Agro Eco System </h2>
  <input type="text" name="name" id="agroSystemName" placeholder="name" />
  <select id="hardinessSelect" name="hardiness">
    <option>Choose an hardiness</option>
    {{range .HardinessList}}
    <option value={{.ID}}>{{.Value}}</option>
    {{end}}
  </select>
  <input type="submit" value="add" />
</form>

<form class="container" id="populateAgroEcoSystemForm">
  <h2> Populate Agro Eco System </h2>
  <select id="agroSystemSelect" name="agroEcoSystem">
    <option>Choose an Agro Eco System</option>
    {{range .AgroEcoSystems}}
    <option value={{.ID}}>{{.Name}}</option>
    {{end}}
  </select>
  <select id="speciesSelect" name="species" multiple>
    {{range .Species}}
    <option value={{.ID}}>{{.CommonName}}</option>
    {{end}}
  </select>
  <input type="submit" value="add" />
</form>
</div>

<div class="container">
<h2>Existing Agro Eco Systems</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Hardiness</th>
      <th>Species</th>
      <th class="right-align">Action</th>
    </tr>
  </thead>
  <tbody>
    {{range .AgroEcoSystemAssociations}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Name}}</td>
      <td>{{.Hardiness}}</td>
      <td>{{.SpeciesName}}</td>
      <td class="right-align"><a href="/agro/remove/{{.ID}}">remove</a></td>
    </tr>
    {{end}}
  </tbody>
</table>
</div>

<script>
document.getElementById('addAgroEcoSystemForm').addEventListener('submit', addAgroEcoSystem)
document.getElementById('populateAgroEcoSystemForm').addEventListener('submit', populateAgroEcoSystem)

function addAgroEcoSystem(event) {
  event.preventDefault()
  name = document.getElementById('agroSystemName').value
  hardiness = parseInt(hardinessSelect.value)

  fetch("/api/agro/new", {
    method: "POST",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json"
    },
    redirect: "follow",
    referrer: "no-referrer",
    body: JSON.stringify({name: name, hardiness: hardiness})
  })
    .then(response => location.reload())
}

function populateAgroEcoSystem(event) {
  event.preventDefault()
  form = document.getElementById("populateAgroEcoSystemForm")
  const formData = new FormData(form);

  fetch("/api/agro/populate", {
    method: "POST",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    redirect: "follow",
    referrer: "no-referrer",
    body: formData //JSON.stringify({agroSystemId: agroId, species: speciesIdList})
  })
    .then(response => location.reload())
}
</script>
{{end}}
