{{ define "layout" }}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{template "page"}}</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <h1>{{template "title"}}</h1>
    <ul>
      <a href="/">Home</a>
      <a href="/species">Species</a>
      <a href="/materials">Materials</a>
      <a href="/associations">Associations</a>
      <a href="/gallery">Gallery</a>
    </ul>
    <br/>
    {{ template "body" . }}
  </body>
</html>
{{end}}
