{{ define "layout" }}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Syntropic Dashboard</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <h1>Syntropic Dashboard</h1>
    <ul>
      <a href="/">Home</a>
      <a href="/species">Species</a>
      <a href="/agro">AgroEcoSystems</a>
      <a href="/materials">Materials</a>
      <a href="/associations">Associations</a>
      <a href="/gallery">Gallery</a>
    </ul>
    <br/>
    <div class="page">
      {{ template "body" . }}
    </div>
  </body>
</html>
{{end}}
