{{ define "statistics" }}
  <div class="container">
   <div>
     <h3>Number of Species</h3>
     <p>{{ .SpeciesNumber }}</p>
   </div>
   <div>
     <h3>Number of Materials</h3>
     <p>{{ .MaterialsNumber }}</p>
   </div>
   <div>
     <h3>Number of Associations</h3>
     <p>{{ .AssociationsNumber }}</p>
   </div>
   <div>
     <h3>Number of AgroEcoSystems</h3>
     <p>{{ .AgroSystemsNumber }}</p>
   </div>
  </div>

  <div class="container">
    <button id="checkLinksButton">check broken links</button>
    <div id="spinner" class="loader"></div>
    <div id="results" />
    </div>
  </div>

<script>
document.getElementById('checkLinksButton').addEventListener('click', checkLinks);
document.getElementById('spinner').style.visibility = 'hidden';

function checkLinks(event) {
  event.preventDefault();

  document.getElementById('spinner').style.visibility = 'visible';

  fetch("/api/associations/links", {
    method: "GET",
    mode: "cors",
    cache: "no-cache", 
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json"
    },
    redirect: "follow",
    referrer: "no-referrer",
  })
  .then(response => {
    return response.json();
  })
  .then(json => {
    var res = document.getElementById('results')
    for (var i = 0; i < json.length; i++) {
      var div = document.createElement('div')
      div.innerHTML = "Broken link -> " + json[i].link
      res.appendChild(div)
    }
    document.getElementById('spinner').style.visibility = 'hidden';
    document.getElementById('results').style.visibility = 'visible';
  })
  .catch(error => {
    console.log(error)
  })
}
</script>
{{ end }}
